{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour (nom du client)</h1>

    <div>
        <h1>Lorem Ipsum</h1>
        </br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus commodo tincidunt. Fusce sed
            augue eleifend, blandit justo et, tempus risus. Ut eget scelerisque nulla. Nulla egestas porta nisl, sed
            consectetur metus lacinia et. Nunc feugiat, orci ultrices lacinia consectetur, ipsum erat varius lectus, in
            mattis massa augue id augue. Nulla aliquam venenatis sem, id condimentum purus vulputate sed. Aenean a iaculis tortor.
            Curabitur eleifend posuere ligula sit amet accumsan. Sed sollicitudin ultrices maximus. Donec nunc est, cursus at congue
            eget, finibus id diam. Nam et ipsum mollis, tincidunt elit sed, tempus sapien. Proin ullamcorper est quis eros laoreet feugiat.
        </p>
    </br>
        <p>
            Fusce risus purus, pellentesque non cursus in, sollicitudin non ex. Aenean dapibus malesuada tellus, sit amet
            placerat tortor mattis a. Cras non urna dignissim, bibendum lacus sit amet, consequat mauris. Duis turpis velit,
            dapibus a orci nec, laoreet imperdiet leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer
            pellentesque placerat dui, quis rutrum nulla pellentesque nec. In ultrices mollis ipsum et tempus. Sed tincidunt
            cursus tincidunt. Donec non tempor velit. Suspendisse potenti. Integer velit tortor, ornare in nulla nec, vehicula facilisis
            augue. Quisque molestie quam rhoncus ante venenatis, et bibendum diam maximus.
        </p>
    </div>
</div>
{% endblock %}
