{% extends 'base.html.twig' %}

{% block title %}New Joueur{% endblock %}

{% block body %}
    <h1>Les joueurs</h1>

    {{ include('joueur/_form.html.twig') }}

    <a href="{{ path('partie_new') }}">Précédent</a>
{% endblock %}
