{% extends 'base.html.twig' %}

{% block title %}New Partie{% endblock %}

{% block body %}
    <h1>Réservation d'une partie</h1>

    {{ include('partie/_form.html.twig') }}
    

    <a href="{{ path('home') }}">Accueil</a>
{% endblock %}
