{% extends 'base.html.twig' %}

{% block title %}New Partie{% endblock %}

{% block body %}
    <h1>Réservation d'une partie</h1>


    {{ include('partie/_form.html.twig') }}



    <br>
    <br>

    <a class="btn btn-lg btn-primary" href="{{ path('home') }}" >Accueil</a>



{% endblock %}
